<main role="main" class="inner cover">
    <h1 class="cover-heading">The One and Only Image Classifier</h1>
    <p class="lead">A kickass CT/MRI scans classifier made with Pytorch</p>
    <div class="learn-more">
        <div class="downArrow bounce">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
        </div>
        <div class="main-button">
            <button mat-button>Learn More</button>
        </div>
    </div>
</main>